header {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

li {
  margin: 0 8px;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer
}
